_data
TODO.md
image.png
chromedriver-linux64.zip
google-chrome-stable_current_amd64.deb
venv
excels
backup_postgres
chromedriver-linux64
.vscode
.venv
.42c    
./*.sql
./*.docx
./*.html
__pycache__/
*.py[cod]
*.pyc
*.pyo
.venv
my.docx